<div class="row mt-2">
  <div class="col-12 col-md-4">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label i18n>Select Quality Rule to add</mat-label>
      <mat-select [formControl]="selectControl" class="w-100" [disabled]="activeRules().loading"
                  (selectionChange)="addRule($event.value)">
        <div class="search-field-container">
          <mat-form-field class="w-100" appearance="outline">
            <input matInput i18n-placeholder
                   placeholder="Search..."
                   [(ngModel)]="filterValue"/>
            <button mat-icon-button
                    matSuffix
                    *ngIf="filterValue()"
                    (click)="resetFilterValue()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        @for (group of rulesToRender; track group.entityType) {
          <mat-option value="">-- SELECT --</mat-option>
          <mat-optgroup [label]="group.label" class="mt-2 fw-bold w-100">
            @for (activeRule of group.rules; track activeRule.id) {
              <mat-option [value]="activeRule.id">
                {{ activeRule.nameEn }} | {{activeRule.id}}
              </mat-option>
            }
          </mat-optgroup>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-12"></div>

  @for (group of selectedRulesToRender; track group.entityType) {
    <div class="col-12 col-md-4">
      <div class="border p-3 h-100">
        <p class="fs-5">
          <span i18n>{{group.label}}</span>
          <span class="ms-2 text-black-50 small">({{group.rules.length}})</span>
        </p>
        <div class="rules-list">
          @if (group.rules.length) {
            @for (rule of group.rules; track rule.ruleId) {
              <div class="d-flex justify-content-between align-items-center">
                <span>{{ rule.ruleNameEn }} | {{rule.ruleId}}</span>
                <button mat-icon-button color="warn" (click)="removeRule(rule.ruleId)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            }
          } @else {
            <p class="text-center fs-6 fw-bold mt-5" i18n>No rules selected</p>
          }
        </div>
      </div>
    </div>
  }

  <div class="col-12 mt-4"></div>
  <hr/>
  <asrdb-field-work-form-step3-statistic-table/>
</div>
<div class="d-flex justify-content-end mt-4">
  <button mat-raised-button (click)="back()" class="me-3">
    <mat-icon class="me-0">arrow_back_ios</mat-icon>
    <span i18n>Back</span>
  </button>
  <button mat-raised-button color="primary" (click)="next()">
    <mat-icon iconPositionEnd>arrow_forward_ios</mat-icon>
    <span i18n>Next</span>
  </button>
</div>
