<section id="quality-rule-form">
  @if (!id) {
    <mat-card class="full-width">
      <mat-card-content>
        @if (!id) {
          <h2 i18n>Create new rule</h2>
        }
        <asrdb-quality-management-form
          [rule]="undefined"
          [qualityType]="qualityType"
          [id]="id"></asrdb-quality-management-form>
      </mat-card-content>
    </mat-card>
  } @else {
    @if (qualityRule(); as rule) {
      <mat-card class="full-width">
        <mat-card-content>
          @if (id) {
            <h2 i18n>Update rule</h2>
          }
          <asrdb-quality-management-form
            [rule]="rule"
            [qualityType]="qualityType"
            [id]="id"></asrdb-quality-management-form>
        </mat-card-content>
      </mat-card>
    }
  }
</section>

@if (isLoadingResults()) {
  <div style="margin: 20px auto">
    <mat-spinner diameter="20"></mat-spinner>
  </div>
}
