<section id="quality-rule-form" *ngIf="!id || (qualityRuleObservable | async) as rule">
  <mat-card class="full-width">
    <mat-card-content>
      <h2 *ngIf="!id" i18n>Create new rule</h2>
      <h2 *ngIf="id" i18n>Update rule</h2>
      <asrdb-quality-management-form [rule]="getRule(rule)" [qualityType]="qualityType" [id]="id"></asrdb-quality-management-form>
    </mat-card-content>
  </mat-card>
</section>
<ng-container *ngIf="isLoadingResults | async">
  <div style="margin: 20px auto;">
    <mat-spinner diameter="20"></mat-spinner>
  </div>
</ng-container>
