<div class="login-container">
  <mat-card class="login-card">
    <img
      class="login-card-logo"
      src="assets/images/logo_instat.png"
      alt="logo" />
    <mat-card-title class="login-card-title" i18n>
      Sign in to continue
    </mat-card-title>
    <mat-card-content class="login-card-content">
      <mat-stepper linear>
        <mat-step [stepControl]="usernamePasswordFormGroup">
          <ng-template matStepLabel>
            <span i18n>Login with username and password</span>
          </ng-template
          >
          <asrdb-username-password-form
            [form]="usernamePasswordFormGroup"
            (proceed)="onUsernamePasswordProceed()" />
        </mat-step>
        <mat-step [stepControl]="tokenVerifyFormGroup">
          <ng-template matStepLabel>Verify 2fa token</ng-template>
          <asrdb-two-fa-token-verify
            [form]="tokenVerifyFormGroup"
            (proceed)="onTokenVerifyProceed()" />
        </mat-step>
      </mat-stepper>
    </mat-card-content>
    <p class="login-card-create-account text-center" routerLink="/auth/forgot-password" i18n>
      First time login/Forgot password?
    </p>
  </mat-card>
</div>
