<form [formGroup]="formGroup">
  <ng-container *ngFor="let formItem of formStructure">
    <mat-form-field class="full-width">
      <mat-label>{{formItem.alias}}</mat-label>
      <ng-container *ngIf="formItem.type !== 'select' && formItem.type !== 'date'">
        <input
          matInput
          #input
          [formControlName]="formItem.name"
          [type]="formItem.type"
          [maxlength]="formItem.maxLength ?? null"
        >
        <mat-hint align="end" *ngIf="formItem.maxLength">{{input.value.length}}/{{formItem.maxLength}}</mat-hint>
      </ng-container>

      <mat-select *ngIf="formItem.type === 'select'" [formControlName]="formItem.name">
        <mat-option *ngFor="let option of formItem.selectOptions" [value]="option.value">{{ option.text }}</mat-option>
      </mat-select>

      <ng-container *ngIf="formItem.type === 'date'">
        <input matInput [matDatepicker]="picker" (click)="picker.open()" [formControlName]="formItem.name" readonly>
        <mat-datepicker #picker></mat-datepicker>
      </ng-container>
      <mat-hint *ngIf="getLogForField(formItem.name) as log" style="font-size: 14px; padding-bottom: 10px">
        <mat-icon>info</mat-icon>
        <span style="margin-left: 5px">{{log}}</span>
      </mat-hint>
      <mat-error *ngIf="formGroup.controls[formItem.name].invalid">{{getError(formGroup.controls[formItem.name])}}</mat-error>
    </mat-form-field>
  </ng-container>
</form>
