<div class="asrbd-container mat-elevation-z8" style="background-color: white; margin-bottom: 20px;">
  <div class="header-container">
    <div>
      <h1 i18n class="header-title">Rule Execution {{building}}</h1>
      <span i18n>Quality status: {{buildingQuality | async}}</span>
    </div>
    <span class="spacer"></span>
    <ng-container *ngIf="executionStatus | async as isExecuting">
      <button mat-icon-button
              (click)="filterData()"
              [disabled]="isExecuting | logExecution">
        <mat-icon>filter_alt</mat-icon>
      </button>
      <div class="icon-divider"></div>
      <button
        mat-raised-button
        color="primary"
        style="margin-right: 10px;"
        (click)="startExecuting()"
        [disabled]="isExecuting | logExecution">
        <ng-container *ngIf="isExecuting | logExecution">
          <mat-spinner diameter="20" style="display: inline-block; vertical-align: middle;"></mat-spinner>
          <span>
            Execution in progress
          </span>
        </ng-container>

        <ng-container *ngIf="!(isExecuting | logExecution)">
          <mat-icon style="vertical-align: middle;">play_arrow</mat-icon>
          <span i18n>
            Start execution
          </span>
        </ng-container>
      </button>
    </ng-container>
  </div>


  <div style="padding: 0 10px;">
    <asrdb-chip (remove)="remove($event)" [chips]="filterChips" [clearable]="true"></asrdb-chip>
  </div>

  <div class="asrbd-loading-shade" *ngIf="isLoadingResults | async">
    <mat-spinner></mat-spinner>
  </div>

  <div class="asrbd-table-container">
    <table class="asrbd-table" mat-table matSort [dataSource]="(dataSourceObservable | async) ?? []">
      <ng-container matColumnDef="ruleId">
        <th mat-header-cell *matHeaderCellDef>Rule ID</th>
        <td mat-cell *matCellDef="let row">{{row.ruleId}}</td>
      </ng-container>
      <ng-container matColumnDef="bldId">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Building ID</th>
        <td mat-cell *matCellDef="let row" [matTooltip]="row.bldId">{{row.bldId | concatenateMessage}}</td>
      </ng-container>
      <ng-container matColumnDef="entId">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Entrance ID</th>
        <td mat-cell *matCellDef="let row" [matTooltip]="row.entId">{{row.entId | concatenateMessage}}</td>
      </ng-container>
      <ng-container matColumnDef="dwlId">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Dwelling ID</th>
        <td mat-cell *matCellDef="let row" [matTooltip]="row.dwlId">{{row.dwlId | concatenateMessage}}</td>
      </ng-container>
      <ng-container matColumnDef="qualityMessageAl">
        <th mat-header-cell *matHeaderCellDef>Message</th>
        <td mat-cell *matCellDef="let row" [matTooltip]="row.qualityMessageEn">{{row.qualityMessageEn |
          concatenateMessage:20}}</td>
      </ng-container>
      <ng-container matColumnDef="entityType">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Entity type</th>
        <td mat-cell *matCellDef="let row">{{row.entityType}}</td>
      </ng-container>
      <ng-container matColumnDef="variable">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Variable</th>
        <td mat-cell *matCellDef="let row">{{row.variable}}</td>
      </ng-container>
      <ng-container matColumnDef="qualityStatus">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let row">{{row.qualityStatus}}</td>
      </ng-container>
      <ng-container matColumnDef="qualityAction">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Quality action</th>
        <td mat-cell *matCellDef="let row">{{row.qualityAction}}</td>
      </ng-container>
      <ng-container matColumnDef="errorLevel">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Error level</th>
        <td mat-cell *matCellDef="let row">{{row.errorLevel}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef i18n>Actions</th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="!(isLoadingResults | async)">
            <button mat-icon-button
                    *ngIf="row.qualityAction === 'QUE' && row.qualityStatus === 'PENDING'"
                    [matMenuTriggerFor]="menu"
                    [disabled]="isResolvingLog | async">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="resolve(row.id)" i18n><mat-icon>check_circle</mat-icon> Resolve</button>
            </mat-menu>
          </ng-container>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" style="text-align: center;" [attr.colspan]="displayedColumns.length" i18n>
        No data matching the filter.
      </td>
    </tr>
    </table>
  </div>
  <mat-paginator [length]="resultsLength" [pageSize]="5" [pageSizeOptions]="[5, 30, 100]"></mat-paginator>
</div>

<ng-template #confirmDialog>
  <h1 mat-dialog-title i18n>Resolve error</h1>
  <div mat-dialog-content i18n>
    <p>Marking this error as resolved can't be undone. Are you sure you want to proceed?</p>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close i18n>Cancel</button>
    <button mat-button color="primary" [mat-dialog-close]="true" i18n>Resolve</button>
  </div>
</ng-template>
