<mat-selection-list [multiple]="false" hideSingleSelectionIndicator>
  @for (
    sideBarElement of sideBarElements;
    track sideBarElement;
    let i = $index
  ) {
    @if (sideBarElement.visible) {
      @if (i !== 0) {
        <mat-divider></mat-divider>
      }
      @if (sideBarElement.sectionTitle) {
        <div mat-subheader>
          {{ sideBarElement.sectionTitle }}
        </div>
      }
      @for (
        sectionElement of sideBarElement.sectionElements;
        track sectionElement
      ) {
        <mat-list-option
          [routerLink]="sectionElement.path"
          (click)="handleClick(sectionElement.title)"
          [selected]="sectionElement.selected">
          <mat-icon matListItemIcon>{{ sectionElement.icon }}</mat-icon>
          {{ sectionElement.title }}
        </mat-list-option>
      }
    }
  }
</mat-selection-list>
