<mat-form-field class="full-width">
  <mat-label i18n>Role</mat-label>
  <mat-select [(ngModel)]="role" (selectionChange)="changeRole($event)" [required]="required">
    <mat-option value="ADMIN" i18n>ADMIN</mat-option>
    <mat-option value="SUPERVISOR" i18n>SUPERVISOR</mat-option>
    <mat-option value="ENUMERATOR" i18n>ENUMERATOR</mat-option>
    <mat-option value="CLIENT" i18n>CLIENT</mat-option>
    <mat-option value="PUBLISHER" i18n>PUBLISHER</mat-option>
    <mat-option value="USER" i18n>USER</mat-option>
  </mat-select>
</mat-form-field>
