.loading-spinner-full {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  justify-items: center;
  align-content: center;
  background: rgba(20, 20, 20, 0.4);
  z-index: 9999;
}
