<h2 mat-dialog-title i18n>Delete {{type}}?</h2>
<mat-dialog-content *ngIf="toDeleteState | async as toDelete">
  <p>Data found for the {{type}}:</p>
  <ul>
    <li i18n class="d-flex gap-1">
      <span>Dwellings:</span>
      @if ((loadingDeleteData | async) || (disableDialogButtons && toDelete.dwellingsToDelete.length)) {
        <mat-spinner diameter="20"></mat-spinner>
      } @else if (disableDialogButtons && toDelete.dwellingsToDelete.length) {
        <b>Deleted!</b>
      } @else {
        {{toDelete.dwellingsToDelete.length}}
      }
    </li>
    @if (type !== DWELLING_ENTITY) {
      <li i18n class="d-flex gap-1">
        <span>Entrances:</span>
        @if ((loadingDeleteData | async) || (disableDialogButtons && toDelete.entrancesToDelete.length)) {
          <mat-spinner diameter="20"></mat-spinner>
        } @else if (disableDialogButtons && toDelete.entrancesToDelete.length) {
          <b>Deleted!</b>
        } @else {
          {{toDelete.entrancesToDelete.length}}
        }
      </li>
    }
  </ul>
  <span i18n>This will delete all entrances and dwellings belonging to this building and <b>cannot</b> be undone.</span>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [disabled]="disableDialogButtons || (loadingDeleteData | async)" (click)="handleCancelClick()" mat-dialog-close>Cancel</button>
  <button mat-button [disabled]="disableDialogButtons || (loadingDeleteData | async)" (click)="handleDeleteConfirm()" color="warn">
    <span i18n *ngIf="!disableDialogButtons && !(loadingDeleteData | async)">Delete</span>
    <span *ngIf="disableDialogButtons || (loadingDeleteData | async)">
        <mat-spinner diameter="20"></mat-spinner>
      </span>
  </button>
</mat-dialog-actions>
