<section class="signup-container">
  <mat-card class="signup-card">
    <img class="signup-card-logo" src="assets/images/logo_instat.png" alt="logo">
    <mat-card-title class="signup-card-title">
      Create your new account
    </mat-card-title>
    <mat-card-content class="signup-card-content">
      <form [formGroup]="signupFormGroup">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label i18n>Full name</mat-label>
          <input matInput i18n-placeholder placeholder="Enter your full name" formControlName="fullName">
          <mat-icon matPrefix>account_circle</mat-icon>
          <mat-error *ngIf="signupFormGroup.controls.fullName.invalid" i18n>Please provide your full name</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label i18n>Email</mat-label>
          <input matInput type="email" i18n-placeholder placeholder="Enter your email" formControlName="email">
          <mat-icon matPrefix>email</mat-icon>
          <mat-error *ngIf="signupFormGroup.controls.email.invalid" i18n>Please provide a valid email</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label i18n>Password</mat-label>
          <input matInput [type]="hiddenPassword ? 'password' : 'text'" i18n-placeholder placeholder="Enter your password" formControlName="password">
          <mat-icon matSuffix style="cursor: pointer;" (click)="hiddenPassword = !hiddenPassword">{{hiddenPassword ?
            'visibility' : 'visibility_off'}}</mat-icon>
          <mat-icon matPrefix>lock</mat-icon>
          <mat-error *ngIf="signupFormGroup.controls.password.errors?.['required']" i18n>Please provide a valid password</mat-error>
          <mat-error *ngIf="signupFormGroup.controls.password.errors?.['minlength']" i18n>Password should be at least 8 characters long</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label i18n>Retype password</mat-label>
          <input matInput [type]="hiddenRetypePassword ? 'password' : 'text'" i18n-placeholder placeholder="Retype your password" formControlName="confirmPassword">
          <mat-icon matSuffix style="cursor: pointer;"
            (click)="hiddenRetypePassword = !hiddenRetypePassword">{{hiddenRetypePassword ?
            'visibility' : 'visibility_off'}}</mat-icon>
          <mat-icon matPrefix>lock</mat-icon>
          <mat-error *ngIf="signupFormGroup.controls.confirmPassword.errors?.['required']" i18n>Please provide a valid password</mat-error>
          <mat-error *ngIf="signupFormGroup.controls.confirmPassword.errors?.['minlength']" i18n>Password should be at least 8 characters long</mat-error>
        </mat-form-field>
      </form>
      <button mat-flat-button color="primary" class="full-width" style="height: 52px;" [disabled]="loading" (click)="signup()" i18n>Continue</button>
      <p class="signup-card-create-account" routerLink="/auth/signin" i18n>Already have an account? Sign in!</p>
    </mat-card-content>
  </mat-card>
</section>
