<mat-toolbar class="mat-elevation-z6" style="margin-bottom: 1px;" *ngIf="isLoggedIn | async">
  <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="assets/images/logo_instat.png" style="width: 150px;">
  <span class="toolbar-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer mode="side" class="drawer" [opened]="isLoggedIn | async">
    <mat-selection-list [multiple]="false" hideSingleSelectionIndicator>
      <mat-list-option>
        <mat-icon matListItemIcon>dashboard</mat-icon>
        Dashboard
      </mat-list-option>
      <mat-list-option>
        <mat-icon matListItemIcon>domainm</mat-icon>
        Building register
      </mat-list-option>
      <mat-list-option>
        <mat-icon matListItemIcon>edit_note</mat-icon>
        Quality management
      </mat-list-option>
      <ng-container *ngIf="isAdmin">
        <mat-divider></mat-divider>
        <div mat-subheader>Administration</div>
        <mat-list-option>
          <mat-icon matListItemIcon>manage_accounts</mat-icon>
          User administration
        </mat-list-option>
        <mat-list-option>
          <mat-icon matListItemIcon>verified_user</mat-icon>
          Role management
        </mat-list-option>
      </ng-container>
    </mat-selection-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
