
<div class="role-management-table-header">
  <mat-form-field appearance="outline">
    <mat-label i18n>Display data for role</mat-label>
    <mat-select [(ngModel)]="datasourceToUse">
      <mat-option value="ADMIN" i18n>ADMIN</mat-option>
      <mat-option value="SUPERVISOR" i18n>SUPERVISOR</mat-option>
      <mat-option value="ENUMERATOR" i18n>ENUMERATOR</mat-option>
      <mat-option value="CLIENT" i18n>CLIENT</mat-option>
      <mat-option value="PUBLISHER" i18n>PUBLISHER</mat-option>
      <mat-option value="USER" i18n>USER</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="asrbd-container mat-elevation-z8" style="background-color: white;" *ngIf="dataSourceObservable | async">
  <div class="header-container">
    <h1 class="header-title" i18n>Role Permission Management</h1>
    <span class="spacer"></span>
    <button mat-icon-button matTooltip="Add new role" (click)="createRole()" class="add-role-button" >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <asrdb-role-table [role]="datasourceToUse" [dataSource]="getDatasource()"></asrdb-role-table>
</div>
