<div class="asrbd-container mat-elevation-z8" style="background-color: white;">
  <div class="header-container">
    <h1 i18n class="header-title">Dwellings List</h1>

    <div class="spacer"></div>

    <button mat-icon-button [matTooltip]="'Add new dwelling'" (click)="addDwelling()" [disabled]="isLoadingResults">
      <mat-icon style="cursor: pointer;">add</mat-icon>
    </button>
    <button mat-icon-button [matTooltip]="'Reload table data'" (click)="reload()" [disabled]="isLoadingResults">
      <mat-icon style="cursor: pointer;">refresh</mat-icon>
    </button>
  </div>

  <div style="padding: 0px 10px;">
    <asrdb-chip (remove)="remove($event)" [chips]="filterChips" [clearable]="!entranceId"></asrdb-chip>
  </div>

  <div class="asrbd-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="asrbd-table-container">
    <table mat-table [dataSource]="data" class="asrbd-table" matSort>
      <ng-container matColumnDef="GlobalID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{getTitle('GlobalID')}}</th>
        <td mat-cell *matCellDef="let element"> {{element.GlobalID}} </td>
      </ng-container>
      <ng-container matColumnDef="DwlEntranceID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{getTitle('DwlEntranceID')}}</th>
        <td mat-cell *matCellDef="let element"> {{getValueFromStatus('DwlEntranceID', element.DwlEntranceID)}} </td>
      </ng-container>
      <ng-container matColumnDef="DwlCensus2023">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{getTitle('DwlCensus2023')}}</th>
        <td mat-cell *matCellDef="let element"> {{getValueFromStatus('DwlCensus2023', element.DwlCensus2023)}} </td>
      </ng-container>
      <ng-container matColumnDef="DwlAddressID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{getTitle('DwlAddressID')}}</th>
        <td mat-cell *matCellDef="let element"> {{getValueFromStatus('DwlAddressID', element.DwlAddressID)}} </td>
      </ng-container>
      <ng-container matColumnDef="DwlFloor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{getTitle('DwlFloor')}}</th>
        <td mat-cell *matCellDef="let element"> {{getValueFromStatus('DwlFloor', element.DwlFloor)}} </td>
      </ng-container>
      <ng-container matColumnDef="DwlApartNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{getTitle('DwlApartNumber')}}</th>
        <td mat-cell *matCellDef="let element"> {{getValueFromStatus('DwlApartNumber', element.DwlApartNumber)}} </td>
      </ng-container>
      <ng-container matColumnDef="DwlStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{getTitle('DwlStatus')}}</th>
        <td mat-cell *matCellDef="let element"> {{getValueFromStatus('DwlStatus', element.DwlStatus)}} </td>
      </ng-container>
      <ng-container matColumnDef="DwlType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{getTitle('DwlType')}}</th>
        <td mat-cell *matCellDef="let element"> {{getValueFromStatus('DwlType', element.DwlType)}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef i18n>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item i18n (click)="viewDwellingDetails(element.GlobalID)"><mat-icon>meeting_room</mat-icon> View dwelling details</button>
            <button mat-menu-item i18n (click)="editDwellingDetails(element.GlobalID)"><mat-icon>edit</mat-icon> Edit dwelling details</button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell no-data-cell" colspan="9">No data</td>
      </tr>
    </table>
  </div>

  <mat-paginator [disabled]="isLoadingResults" [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[10, 20, 50]"
    showFirstLastButtons></mat-paginator>
</div>
