<form [formGroup]="form">
  <mat-form-field class="w-100">
    <mat-label i18n>Username</mat-label>
    <input matInput formControlName="username" (keyup.enter)="submitForm()" />
    <mat-icon matPrefix>email</mat-icon>
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label i18n>Password</mat-label>
    <input
      [type]="showPassword ? '' : 'password'"
      matInput
      i18n-placeholder
      placeholder="Enter your password"
      formControlName="password"
      (keyup.enter)="submitForm()"  />
    <mat-icon matPrefix>lock</mat-icon>
    <mat-icon matSuffix style="cursor: pointer;" (click)="showPassword = !showPassword">{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
  </mat-form-field>
  <button mat-flat-button color="primary" class="w-100 mt-3" (click)="submitForm()" [disabled]="signinService.loginSignal().isLoggingIn" i18n>Continue</button>
</form>
