<section class="login-container">
  <mat-card class="login-card">
    <img
      class="login-card-logo"
      src="assets/images/logo_instat.png"
      alt="logo" />
    <mat-card-title class="login-card-title" i18n>
      Enter email to reset your password
    </mat-card-title>
    <mat-card-content class="login-card-content">
      <form [formGroup]="forgotPassword">
        @if (!token) {
          <mat-form-field appearance="fill" class="full-width">
            <mat-label i18n>Email</mat-label>
            <input
              matInput
              i18n-placeholder
              placeholder="Enter your email"
              formControlName="email"
              (keyup.enter)="sendResetPasswordEmail()" />
            <mat-icon matPrefix>email</mat-icon>
          </mat-form-field>
          <span class="error-message">
            @if (forgotPassword.get('email')?.touched) {
              @if (forgotPassword.get('email')?.hasError('required')) {
                <span i18n>Email is required</span>
              } @else if (forgotPassword.get('email')?.hasError('email')) {
                <span i18n>Invalid email format</span>
              }
            }
          </span>
        } @else {
          <mat-form-field appearance="fill" class="full-width">
            <mat-label i18n>New Password</mat-label>
            <input
              matInput
              i18n-placeholder
              placeholder="Enter your new password"
              [type]="hiddenPassword ? 'password' : 'text'"
              formControlName="password"
              (keyup.enter)="resetPassword()" />
            <mat-icon matPrefix>lock</mat-icon>
            <mat-icon
              matIconSuffix
              (click)="toggleVisibility($event)"
              style="cursor: pointer">
              {{ hiddenPassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </mat-form-field>
          <span class="error-message">
            @if (forgotPassword.get('password')?.touched) {
              @if (forgotPassword.get('password')?.hasError('required')) {
                <span i18n>Password is required</span>
              } @else if (
                forgotPassword.get('password')?.hasError('minlength')
              ) {
                <span i18n>Password must be at least 8 characters long</span>
              } @else if (forgotPassword.get('password')?.hasError('pattern')) {
                <span i18n
                  >Password must contain at least one uppercase letter, one
                  lowercase letter, one number, and one special character</span
                >
              }
            }
          </span>
        }
      </form>

      <button
        mat-flat-button
        color="primary"
        class="full-width"
        style="height: 52px"
        (click)="handleSubmit()"
        [disabled]="loading | async"
        i18n>
        Continue
      </button>
      <p class="login-card-create-account" routerLink="/auth/signin" i18n>
        Login
      </p>
    </mat-card-content>
  </mat-card>
</section>
