<h1 mat-dialog-title i18n>Create role</h1>
<div mat-dialog-content>
  <asrdb-role-selector [(role)]="newRole.role"></asrdb-role-selector>
  <asrdb-entity-type-selector [(entityType)]="newRole.entityType"></asrdb-entity-type-selector>
  <asrdb-variable-selector [(variable)]="newRole.variableName"></asrdb-variable-selector>
  <asrdb-permission-selector [(permission)]="newRole.permission"></asrdb-permission-selector>
</div>
<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close] i18n>Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="newRole" cdkFocusInitial i18n>Create role</button>
</div>
