<div *ngIf="!isLoadingResults; else loader" class="building-details-container">
  <div class="row">
    <div class="col-12 col-md-4 pe-0">
      <mat-card class="building-details-card">
        <mat-card-content>
          <div class="d-flex">
            <button
              mat-icon-button
              matTooltip="Go to listing view"
              style="vertical-align: middle"
              (click)="goBack()">
              <mat-icon>arrow_back</mat-icon>
            </button>
            <span class="flex-grow-1"></span>

            <button
              mat-icon-button
              [matTooltip]="'Edit building'"
              (click)="editBuilding(building.GlobalID)">
              <mat-icon>edit</mat-icon>
            </button>
            @if (isExecutingRules) {
              <span class="align-content-center">
                <mat-spinner diameter="20"></mat-spinner>
              </span>
            } @else {
              <button
                mat-icon-button
                matTooltip="Test building data"
                style="vertical-align: middle;"
                [disabled]="isExecutingRules"
                (click)="startExecution()">
                <mat-icon>play_arrow</mat-icon>
              </button>
            }
            <button
              mat-icon-button
              matTooltip="Quality report"
              style="vertical-align: middle;"
              (click)="gotToLogs()">
              <mat-icon>rule</mat-icon>
            </button>
          </div>
          <mat-divider class="mt-2 mb-3"></mat-divider>
          <h2 class="details-header" i18n>
            <span>Details for building</span>
          </h2>
          @for (titlePart of titleSection; track titlePart.propName) {
            <span class="details-subheader mb-1 d-block">
              <span i18n class="me-1">{{titlePart.title}}:</span>
              <span style="font-weight: bold;" i18n>{{getValueFromStatus(titlePart.propName)}}</span>
            </span>
          }
          <br/>
          <section *ngFor="let section of sections">
            <h3>{{section.title}}</h3>
            <asrdb-building-detail
              *ngFor="let entry of section.entries"
              [title]="entry.title"
              [value]="entry.value"
              [log]="entry.log"
              [logType]="entry.logType"
            ></asrdb-building-detail>
            <hr>
          </section>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-md-8">
      <div class="building-last-modified-card">
        <div class="row">
          <div class="col-12 col-md-8 me-0">
            <asrdb-comment-view [buildingId]="id"></asrdb-comment-view>
          </div>
          <div class="col-12 col-md-4 ms-0 ps-0">
            <asrdb-history-details
              [externalCreator]="building.external_creator"
              [externalCreationDate]="building.external_creator_date"
              [externalUpdater]="building.external_editor"
              [externalUpdateDate]="building.external_editor_date"
            ></asrdb-history-details>
          </div>
        </div>
        <asrdb-register-map
          [enableFilter]="false"
          [enableSelection]="false"
          [small]="true"
          [buildingGlobalId]="id"
          [skipOtherFiltersApartFromGlobalId]="true"
          [entranceGlobalId]="selectedEntrance"
        ></asrdb-register-map>
        <div class="mt-3">
          <asrdb-entrance-list-view
            [buildingGlobalId]="building.GlobalID"
            [building]="building"
            (entrancesLoaded)="setEntrances($event)"
            (entranceSelected)="setSelectedEntrance($event)" >
          </asrdb-entrance-list-view>
        </div>
        <div class="mt-3">
          <asrdb-dwelling-list-view
            [entranceId]="selectedEntrance"
            [buildingGlobalId]="building.GlobalID"
            [entrances]="loadedEntrances"
            [buildingNumber]="building.BldProperty"
            (dwellingUpdated)="markEntranceAsUntestedData($event)"
          ></asrdb-dwelling-list-view>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loader>
  <div class="asrbd-loading-shade-full">
    <mat-spinner diameter="40"></mat-spinner>
    <div class="loading-text" i18n>Loading building details...</div>
  </div>
</ng-template>
