<div *ngIf="!isLoadingResults" class="building-details-container">
  <mat-card class="building-details-card">
    <mat-card-content>
      <button
        mat-icon-button
        [matTooltip]="'Edit building'"
        style="float: right;"
        (click)="editBuilding(building.GlobalID)">
        <mat-icon>edit</mat-icon>
      </button>

      <button
        mat-icon-button
        matTooltip="View building logs"
        style="vertical-align: middle; float: right;"
        (click)="gotToLogs()">
        <mat-icon>open_in_new</mat-icon>
      </button>
      <h2 class="details-header" i18n>Details for building: {{building.GlobalID}}</h2>
      <span class="details-subheader" i18n>Data quality: <span style="font-weight: bold;">{{getValueFromStatus('BldQuality')}}</span></span>
      <br>
      <span class="details-subheader" i18n>Status of building centroid: <span style="font-weight: bold;">{{getValueFromStatus('BldCentroidStatus')}}</span></span>
      <section *ngFor="let section of sections">
        <h3>{{section.title}}</h3>
        <asrdb-building-detail
          *ngFor="let entry of section.entries"
          [title]="entry.title"
          [value]="entry.value"
          [log]="entry.log"
          [logType]="entry.logType"
        ></asrdb-building-detail>
        <hr>
      </section>
    </mat-card-content>
  </mat-card>
  <div class="building-last-modified-card">
    <asrdb-history-details
      [externalCreator]="building.external_creator"
      [externalCreationDate]="building.external_creator_date"
      [externalUpdater]="building.external_editor"
      [externalUpdateDate]="building.external_editor_date"
    ></asrdb-history-details>
    <asrdb-register-map
      [enableFilter]="false"
      [enableSelection]="false"
      [buildingGlobalId]="id"
      [skipOtherFiltersApartFromGlobalId]="true"
    ></asrdb-register-map>
  </div>

  <div class="full-width">
    <asrdb-entrance-list-view
      [buildingGlobalId]="building.GlobalID"
      (entrancesLoaded)="setEntrances($event)"
      (entranceSelected)="setSelectedEntrance($event)" >
    </asrdb-entrance-list-view>
  </div>

  <div class="full-width">
    <asrdb-dwelling-list-view
      [entranceId]="selectedEntrance"
      [entrances]="loadedEntrances"
      [buildingNumber]="building.BldProperty"
      (dwellingUpdated)="markEntranceAsUntestedData($event)"
    ></asrdb-dwelling-list-view>
  </div>
</div>
