@if (!id) {
  <h1 mat-dialog-title i18n>Create dwelling</h1>
}
@if (id) {
  <h1 mat-dialog-title i18n>Update dwelling</h1>
}
<mat-dialog-content class="mat-typography">
  <form [formGroup]="formGroup">
    @for (formItem of formStructure; track formItem) {
      @if (!formItem.hidden) {
        <mat-form-field
          class="full-width"
          [style.margin-bottom]="hasLog(formItem.name) ? '10px' : '0'">
          <mat-label>{{ formItem.alias }}</mat-label>
          @if (formItem.type !== 'select' && formItem.type !== 'date') {
            <input
              matInput
              [formControlName]="formItem.name"
              [type]="formItem.type"
              [maxlength]="formItem.maxLength ?? null" />
          }
          @if (formItem.maxLength) {
            <span matTextSuffix
              >{{ formGroup.controls[formItem.name].value?.length ?? 0 }}/{{
                formItem.maxLength
              }}</span
            >
          }
          @if (formItem.type === 'select') {
            <mat-select [formControlName]="formItem.name">
              <div class="search-field-container">
                <mat-form-field class="w-100" appearance="outline">
                  <input
                    matInput
                    i18n-placeholder
                    placeholder="Search..."
                    [value]="inputFilters[formItem.name]"
                    (input)="filterInputOptions($event, formItem.name)" />
                  @if (inputFilters[formItem.name]) {
                    <button
                      class="z-2"
                      mat-icon-button
                      aria-label="Clear search"
                      i18n-aria-label
                      matSuffix
                      (click)="clearInputFilter($event, formItem.name)">
                      <mat-icon>close</mat-icon>
                    </button>
                  }
                </mat-form-field>
              </div>
              @for (option of formItem.selectOptions; track option) {
                <mat-option [value]="option.value">{{
                  option.text
                }}</mat-option>
              }
            </mat-select>
          }
          @if (formItem.type === 'date') {
            <input
              matInput
              [matDatepicker]="picker"
              (click)="picker.open()"
              [formControlName]="formItem.name"
              readonly />
            <mat-datepicker #picker></mat-datepicker>
          }
          @if (
            formGroup.controls[formItem.name].value &&
            (formItem.type === 'date' || formItem.type === 'select')
          ) {
            <button
              mat-icon-button
              aria-label="Clear field"
              i18n-aria-label
              (click)="formGroup.controls[formItem.name].setValue(null)"
              matSuffix>
              <mat-icon>close</mat-icon>
            </button>
          }
          @if (getLogForField(formItem.name); as log) {
            <mat-hint style="font-size: 14px; padding-bottom: 10px">
              <mat-icon [style.color]="getColor(log.qualityAction)"
                >info</mat-icon
              >
              <span style="margin-left: 5px">{{
                getLogMessage(log, locale)
              }}</span>
            </mat-hint>
          }
          @if (formGroup.controls[formItem.name].invalid) {
            <mat-error>{{
              getError(formGroup.controls[formItem.name])
            }}</mat-error>
          }
        </mat-form-field>
      }
    }
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()" i18n>Cancel</button>
  <button mat-raised-button color="primary" (click)="save()" i18n>
    Save data
  </button>
</mat-dialog-actions>

<ng-template #cancelConfirmDialog>
  @if (!id) {
    <h1 mat-dialog-title i18n>Cancel creating dwelling?</h1>
  }
  @if (id) {
    <h1 mat-dialog-title i18n>Cancel editing dwelling?</h1>
  }
  <mat-dialog-content class="mat-typography" i18n>
    Are you sure you want to close the dialog? All changes will be lost. This
    action cannot be undone!
    <br />
    Do you want to continue
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close i18n [disabled]="!!(isSaving | async)">
      Cancel
    </button>
    <button
      mat-raised-button
      color="warn"
      [mat-dialog-close]="true"
      [disabled]="!!(isSaving | async)"
      i18n>
      Close dialog
    </button>
  </mat-dialog-actions>
</ng-template>
