@import 'https://js.arcgis.com/4.28/@arcgis/core/assets/esri/themes/light/main.css';

#entity-management {
  display: flex;
}

.entity-management-section {
  display: inline-block;
  width: 50%;
}

.entity-management-form {
  margin-left: 20px;
}
