<mat-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="mapDetails">
    <ng-template matStepLabel i18n>Building pollygon</ng-template>
    <asrdb-building-creation [formGroup]="mapDetails"></asrdb-building-creation>
    <div style="margin-top: 20px;">
      <button mat-flat-button color="primary" matStepperNext i18n>Next <mat-icon iconPositionEnd>navigate_next</mat-icon></button>
    </div>
  </mat-step>
  <mat-step [stepControl]="buildingDetails">
    <ng-template matStepLabel i18n>Building details</ng-template>
    <asrdb-building-details-form [formGroup]="buildingDetails"></asrdb-building-details-form>
    <div>
      <button mat-flat-button matStepperPrevious i18n>Back <mat-icon iconPositionBefore>navigate_before</mat-icon></button>
      <button mat-flat-button color="primary" matStepperNext i18n>Next <mat-icon iconPositionEnd>navigate_next</mat-icon></button>
    </div>
  </mat-step>
  <mat-step [stepControl]="entranceDetails">
    <ng-template matStepLabel i18n>Entrance details</ng-template>
    <asrdb-entrance-details-form [formGroup]="entranceDetails"></asrdb-entrance-details-form>
    <div class="quality-action-button">
      <button mat-flat-button matStepperPrevious i18n [disabled]="isSaving | async">Back <mat-icon iconPositionBefore>navigate_before</mat-icon></button>
      <span></span>
      <button mat-flat-button color="primary" (click)="save()" style="float: right;" i18n [disabled]="isSaving | async">Save changes</button>
    </div>
  </mat-step>
</mat-stepper>
