
<h2 mat-dialog-title i18n>Dwelling details</h2>
<mat-dialog-content *ngIf="!isLoadingResults" class="building-details-container mat-typography" style="color: initial; margin: 10px;">
  <mat-card class="building-details-card">
    <mat-card-content>
      <h2 class="details-header" i18n>Details for dwelling: {{dwelling.GlobalID}}</h2>
      <span class="details-subheader" i18n>Quality: <span
          style="font-weight: bold;">{{getValueFromStatus('DwlQuality')}}</span></span>
      <section *ngFor="let section of sections">
        <h3>{{section.title}}</h3>
        <asrdb-building-detail *ngFor="let entry of section.entries" [title]="entry.title"
          [value]="entry.value" [log]="entry.log"></asrdb-building-detail>
        <hr>
      </section>
    </mat-card-content>
  </mat-card>
  <mat-card class="building-last-modified-card">
    <mat-card-content>
      <h2 i18n>History details</h2>
      <div>
        <span i18n>Created by: </span>
        <span>{{dwelling.created_user}} - {{getDate(dwelling.created_date)}}</span>
      </div>
      <div>
        <span i18n>Last edited by: </span>
        <span>{{dwelling.last_edited_user}} - {{getDate(dwelling.last_edited_date)}}</span>
      </div>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
