
<h2 mat-dialog-title i18n>Dwelling details</h2>
<mat-dialog-content *ngIf="!isLoadingResults" class="building-details-container mat-typography" style="color: initial; margin: 10px;">
  <mat-card class="building-details-card">
    <mat-card-content>
      <h2 class="details-header" i18n>Details for dwelling: {{dwelling.GlobalID}}</h2>
      <span class="details-subheader" i18n>Data Quality: <span
          style="font-weight: bold;">{{getValueFromStatus('DwlQuality')}}</span></span>
      <section *ngFor="let section of sections">
        <h3>{{section.title}}</h3>
        <asrdb-building-detail *ngFor="let entry of section.entries" [title]="entry.title"
          [value]="entry.value" [log]="entry.log"></asrdb-building-detail>
        <hr>
      </section>
    </mat-card-content>
  </mat-card>
  <div class="building-last-modified-card">
    <asrdb-history-details
      [externalCreator]="dwelling.external_creator"
      [externalCreationDate]="dwelling.external_creator_date"
      [externalUpdater]="dwelling.external_editor"
      [externalUpdateDate]="dwelling.external_editor_date"
    ></asrdb-history-details>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
