<div class="asrbd-container mat-elevation-z8" style="background-color: white;">
  <div class="header-container">
    <h1 i18n class="header-title">Entrance List</h1>

    <div class="spacer"></div>

    <button mat-icon-button [matTooltip]="'Add new entrance'" [disabled]="isLoadingResults" (click)="createEntrance(buildingGlobalId!)">
      <mat-icon style="cursor: pointer;">add</mat-icon>
    </button>
    <button *ngIf="!buildingGlobalId" mat-icon-button (click)="openFilter()" [disabled]="isLoadingResults">
      <mat-icon style="cursor: pointer;">filter_alt</mat-icon>
    </button>
    <button mat-icon-button [matTooltip]="'Reload table data'" (click)="reload()" [disabled]="isLoadingResults">
      <mat-icon style="cursor: pointer;">refresh</mat-icon>
    </button>
  </div>

  <div style="padding: 0 10px;">
    <asrdb-chip (remove)="remove($event)" [chips]="filterChips" [clearable]="!buildingGlobalId"></asrdb-chip>
  </div>

  <div class="asrbd-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="asrbd-table-container">
    <table mat-table [dataSource]="data" class="asrbd-table" matSort>
      <ng-container matColumnDef="EntBuildingID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Building</th>
        <td mat-cell *matCellDef="let element"> {{element.EntBuildingID}} </td>
      </ng-container>
      <ng-container matColumnDef="GlobalID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Entrance</th>
        <td mat-cell *matCellDef="let element"> {{element.GlobalID}} </td>
      </ng-container>
      <ng-container matColumnDef="EntStreet">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Street name</th>
        <td mat-cell *matCellDef="let element"> {{getValueFromStatus('EntStreet', element.EntStreet)}} </td>
      </ng-container>
      <ng-container matColumnDef="EntBuildingNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Building number</th>
        <td mat-cell *matCellDef="let element"> {{getValueFromStatus('EntBuildingNumber', element.EntBuildingNumber)}} </td>
      </ng-container>
      <ng-container matColumnDef="EntEntranceNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Entrance number</th>
        <td mat-cell *matCellDef="let element"> {{getValueFromStatus('EntEntranceNumber', element.EntEntranceNumber)}} </td>
      </ng-container>
      <ng-container matColumnDef="EntDwellingRecs">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Dwellings recorded</th>
        <td mat-cell *matCellDef="let element"> {{getValueFromStatus('EntDwellingRecs', element.EntDwellingRecs)}} </td>
      </ng-container>
      <ng-container matColumnDef="EntDwellingExpec">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Dwellings expected</th>
        <td mat-cell *matCellDef="let element"> {{getValueFromStatus('EntDwellingExpec', element.EntDwellingExpec)}} </td>
      </ng-container>
      <ng-container matColumnDef="EntQuality">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Entrance quality</th>
        <td mat-cell *matCellDef="let element"> {{getValueFromStatus('EntQuality', element.EntQuality)}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef i18n>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item i18n (click)="viewEntranceDetails(element.GlobalID)"><mat-icon>directions_walk</mat-icon> View entrance details</button>
            <button mat-menu-item i18n (click)="editEntrance(buildingGlobalId!, element.GlobalID)"><mat-icon>edit</mat-icon> Edit entrance details</button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          style="cursor: pointer"
          [class.selected-entrance-row]="row['GlobalID'] === selectedEntrance"
          (click)="selectEntrance(row['GlobalID'])"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell no-data-cell" colspan="9">No data</td>
      </tr>
    </table>
  </div>

  <mat-paginator [disabled]="isLoadingResults" [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[10, 20, 50]"
    [showFirstLastButtons]="true"></mat-paginator>
</div>
