/* You can add global styles to this file, and also import other style files */
@import 'https://js.arcgis.com/4.28/@arcgis/core/assets/esri/themes/light/main.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #fafafa;}

.full-width {
  width: 100%;
}

.table-container, .table {
  width: 100%;
}

.mat-sort-header-content {
  text-align: left !important;
}

.loader {
  margin: auto;
}

.table-loader {
  margin-top: -50px;
}

.table {
  margin-bottom: 0px !important;
}

.spacer {
  flex-grow: 1;
}

.page-header {
  display: flex;
  flex-direction: row;
}

.mat-drawer-content {
  height: calc(100vh - 64px) !important;
}
