<form [formGroup]="formGroup">
  <ng-container *ngFor="let formItem of formStructure">
    <mat-form-field
      class="full-width"
      *ngIf="!formItem.hidden"
      [style.margin-bottom]="hasLog(formItem.name) ? '10px' : '0'">
      <mat-label>{{formItem.alias}}</mat-label>
      <input
        *ngIf="formItem.type !== 'select' && formItem.type !== 'date'"
        matInput
        [formControlName]="formItem.name"
        [type]="formItem.type"
        [maxlength]="formItem.maxLength ?? null"
      >
      <span matTextSuffix *ngIf="formItem.maxLength">{{formGroup.controls[formItem.name]?.value?.length ?? 0}}/{{formItem.maxLength}}</span>

      <mat-select *ngIf="formItem.type === 'select'" [formControlName]="formItem.name">
        <mat-option *ngFor="let option of formItem.selectOptions" [value]="option.value">{{ option.text }}</mat-option>
      </mat-select>

      <ng-container *ngIf="formItem.type === 'date'">
        <input matInput
               [matDatepicker]="picker"
               [formControlName]="formItem.name"
               (click)="picker.open()"
               readonly>
        <mat-datepicker #picker></mat-datepicker>
      </ng-container>
      <mat-hint *ngIf="getLogForField(formItem.name) as log" style="font-size: 14px; padding-bottom: 10px; display: inline-block">
        <mat-icon [style.color]="getColor(log.qualityAction)">info</mat-icon>
        <span style="margin-left: 5px">{{log.qualityMessageEn}}</span>
      </mat-hint>
      <mat-error *ngIf="formGroup.controls[formItem.name].invalid">{{getError(formGroup.controls[formItem.name])}}</mat-error>
    </mat-form-field>
  </ng-container>
</form>
