<div class="map-wrapper">
  <div [class]="small ? 'small-map' : ''" #mapViewNode></div>

  <div
    class="map-status-overlay"
    *ngIf="
      (!isMapReady && (isMapInitializing || (isRefreshing$ | async))) &&
      !mapAuthError
    ">
    <div i18n>Refreshing authentication and loading map...</div>
  </div>

  <div class="map-error-banner" *ngIf="mapAuthError">
    <span>{{ mapAuthError }}</span>
    <button type="button" class="retry-button" (click)="retryMapAuth()" i18n>
      Retry
    </button>
  </div>
</div>
