<h2 mat-dialog-title i18n>Filter data</h2>
<mat-dialog-content style="padding-top: 10px;">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label i18n>Municipality</mat-label>
    <mat-select [value]="filterConfig.filter.BldMunicipality"
      (selectionChange)="changeValue($event, 'BldMunicipality')">
      <div class="search-field-container">
        <mat-form-field class="w-100" appearance="outline">
          <input matInput i18n-placeholder
                 placeholder="Search..."
                 [(ngModel)]="filterValue"/>
          <button mat-icon-button
                  matSuffix
                  *ngIf="filterValue"
                  (click)="filterValue = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <mat-option *ngFor="let municipality of municipalities"
        [value]="municipality.code">{{municipality.name}}</mat-option>
    </mat-select>
    <button mat-icon-button matSuffix
            (click)="cleanValue($event, 'BldMunicipality')"
            *ngIf="filterConfig.filter.BldMunicipality">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label i18n>Enumeration area</mat-label>
    <input matInput [(ngModel)]="filterConfig.filter.BldEnumArea"/>
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label i18n>Status</mat-label>
    <mat-select
      [value]="filterConfig.filter.BldStatus"
      [multiple]="true"
      (selectionChange)="changeValue($event, 'BldStatus')">
      <mat-option *ngFor="let status of filterConfig.options.BldStatus"
        [value]="status.code">{{status.name}}</mat-option>
    </mat-select>
    <button mat-icon-button matSuffix
            (click)="cleanValue($event, 'BldStatus')"
            *ngIf="filterConfig.filter.BldStatus">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label i18n>Type</mat-label>
    <mat-select
      [value]="filterConfig.filter.BldType"
      [multiple]="true"
      (selectionChange)="changeValue($event, 'BldType')">
      <mat-option *ngFor="let type of filterConfig.options.BldType" [value]="type.code">{{type.name}}</mat-option>
    </mat-select>
    <button mat-icon-button matSuffix
            (click)="cleanValue($event, 'BldType')"
            *ngIf="filterConfig.filter.BldType">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label i18n>Quality</mat-label>
    <mat-select
      [value]="filterConfig.filter.BldQuality"
      [multiple]="true"
      (selectionChange)="changeValue($event, 'BldQuality')">
      <mat-option *ngFor="let type of filterConfig.options.BldQuality" [value]="type.code">{{type.name}}</mat-option>
    </mat-select>
    <button mat-icon-button matSuffix
            (click)="cleanValue($event, 'BldQuality')"
            *ngIf="filterConfig.filter.BldQuality">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label i18n>PK Buildings (Global ID)</mat-label>
    <input matInput [(ngModel)]="filterConfig.filter.GlobalID"/>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close i18n>Cancel</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button color="primary" [mat-dialog-close]="filterConfig" i18n>Filter</button>
</mat-dialog-actions>
