<section id="rule-builder">
  <button mat-raised-button (click)="addRule()" style="margin-bottom: 10px; float: right;">
    <mat-icon>add</mat-icon> <span>Add new expression</span>
  </button>
  <section class="form">
    <div [formGroup]="formGroup">
      <mat-form-field class="full-width" style="display: none;">
        <mat-label i18n>Expression</mat-label>
        <textarea matInput formControlName="expression" readonly hidden></textarea>
      </mat-form-field>
    </div>
    <div style="margin-bottom: 50px;">
      <p>Expression</p>
      <pre>{{expressionString}}</pre>
      <mat-error *ngIf="expressionFormControl?.value === ''" i18n>Please fill all the required data for the expression to be generated</mat-error>
    </div>

    <ng-container *ngFor="let expression of expressionFormGroup; let i = index">
      <asrdb-expression-form
        [rule]="expression"
        [showOperator]="i !== expressionFormGroup.length - 1"
        [showDeleteButton]="expressionFormGroup.length - 1 !== 0"
        [entityType]="entityType"
        (removeExpression)="removeRule($event)"></asrdb-expression-form>
    </ng-container>
  </section>
</section>
